/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "bootstrap";

//  #myCarousel{
//    height: 65vh;
//  }
.carousel-item{
  height: 75vh;
}
 .carousel-inner{
  height: 75vh;
 }

 .carousel-item > img{
  width: 100vw;
  // text-align: center;
 }

#back-color{
  background-color: gainsboro;
  padding: 10vh 20vw;
  height: 100vh;
}
#user-form{
  text-align: center;
  height: 100%;
}
